node_modules
dist
build
.next
.nuxt
.vscode
.idea
*.log
*.lock
pnpm-lock.yaml
package-lock.json
yarn.lock
.env
.env.local
.env.production
.env.staging
coverage
.nyc_output
.cache
.parcel-cache
.DS_Store
Thumbs.db